/* Copy and paste these settings into your App.css */
[data-theme='dark'] .insertclassyouwantdarkmodetoapplyto {
  background-color: black;
  color:white;
}

.toggle-container{
  display:flex;
  justify-content: right;
}


